main{
  padding: 15px;
}
.divQuestions{
  max-width: 600px;
  margin: auto;
  border: solid 3px #91B8CF;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.divQuestions div{
  margin: 5px;
}
.imagens{
  width: 300px;
  margin: auto;
  display: block;
  border-radius: 10px;
}